body {
    background-color: #e4e4e4;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

// Hiddes scrollbar
body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 58px;
}


.btn-primary {
    color: white;
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.btn-primary:hover {
    color: white;
    background-color: var(--color-2);
    border-color: var(--color-2);
}

.btn-secondary {
    color: var(--color-1);
    background-color: white;
    border-color: var(--color-1);
}

.btn-secondary:hover {
    color: white;
    background-color: var(--color-2);
    border-color: var(--color-2);
}


.card {
    border-radius: 15px;
    border-style: none;
    background: var(--color-1);
    color: white;
}

.navbar-top {
    padding-left: 5%;
    padding-right: 5%;
}

.footer {
    background-color: var(--color-1);
}

.card-banner {
    border-radius: 15px;
    border-style: none;
    background: url("../../public/img/parked-cars.jpeg") !important;
    background-size: cover;
    color: white;
    height: 400px;
}

.card-banner-body {
    margin-left: 80px;
}

.card-banner-title {
    width: 350px;
    margin-top: 70px;
}

.card-banner-text {
    margin-top: 20px;
    margin-bottom: 30px;
}


// Statistics

.card-stats:hover {
    background: var(--color-2);
}

.card-stats-icon {
    width: 75px;
    height: 75px;
    float: left;
    padding-right: 20px;
    margin-top: 20px;
}

.card-stats-text-header {
    font-size: 58px;
    font-weight: bold;
}

.card-stats-text-text {
    font-size: 14px;
}

// Statistics

// Steps

.card-steps-icon {
    width: 75px;
    height: 75px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.card-steps-text-header {
    font-size: 58px;
    font-weight: bold;
}

.card-steps-text-text {
    font-size: 14px;
}

// Steps

// Checks

.container-checks {
    background: url("../../public/img/car-background.jpeg");
    background-size: cover;
}

.card-header-more-text {
    width: 310px;
}

.checks-text {
    width: 500px;
}

.card-header-icon {
    width: 60px;
    height: 60px;
    float: left;
    padding-right: 20px;
}

.card-header-text {
    margin-top: 10px;
    margin-bottom: 28px;
}

.card-body-icon {
    width: 55px;
    height: 55px;
    float: left;
    padding-right: 20px;
}

.card-body-text {
    margin-top: 5px;
    margin-bottom: 28px;
}

// Checks